.gradient-nav {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#034f84), to(#012d62));
	background-image: -webkit-linear-gradient(top, #034f84, #012d62);
	background-image: -moz-linear-gradient(top, #034f84, #012d62);
	background-image: linear-gradient(to bottom, #034f84, #012d62);
}

.gradient-nav * {
	background-color: transparent !important;
}

.hidden {
	display: none;
}

.stripped tr:nth-child(odd) {
	background-color: #CCC;
}

.stripped tr:nth-child(even) {
	background-color: #FFF;
}

